@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

For more information about Blazor support in PostSharp check out our documentation at <a href="https://doc.postsharp.net/blazor">https://doc.postsharp.net/blazor</a>.
